<div class="reservation-form-wrapper max-height">
    <form class="container reservation-form" [formGroup]="form" autocomplete="off">
        <div class="row">
          <div class="form-group col-lg-6">
            <label>Number of Seats</label>
            <div class="input-group" style="width: 100%;">
              <input
                type="number"
                formControlName="noOfSeats"
                class="form-control"
                placeholder="Enter Number of seats"
                style="width: 100%;"
              />
            </div>
            <mat-error *ngIf="isFieldValid('noOfSeats')">
                Number of seats is required
            </mat-error>
          </div>
          <div class="form-group col-lg-6">
            <label>Reservation Date</label>
            <div class="input-group" style="width: 100%;">
                <mat-form-field>
                    <input matInput [ngxMatDatetimePicker]="picker" placeholder="Choose a date" formControlName="date"
                       [min]="minDate" [max]="maxDate" [disabled]="disabled">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <ngx-mat-datetime-picker #picker [showSpinners]="showSpinners" [showSeconds]="showSeconds"
                       [stepHour]="stepHour" [stepMinute]="stepMinute" [stepSecond]="stepSecond"
                       [touchUi]="touchUi" [color]="color" [enableMeridian]="enableMeridian" 
                       [disableMinute]="disableMinute" [hideTime]="hideTime">
                    </ngx-mat-datetime-picker>
                 </mat-form-field>
            </div>
            <mat-error *ngIf="isFieldValid('date')">
                Reservation Date is required
            </mat-error>
          </div>


        </div>
      
    </form>
    <button [disabled]="allIsFormsValid" class="btn btn-primary" [ngClass]="{'grey-color' : allIsFormsValid}" 
        (click)="sendFormData()">{{ title }} Reservation</button>
</div>